.diagram1 {
    width: 100%;
    height: 50vh;
    background-image: url('./media/diagram1.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.diagram2 {
    width: 100%;
    height: 50vh;
    background-image: url('./media/diagram2.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.diagram3 {
    width: 100%;
    height: 50vh;
    background-image: url('./media/diagram3.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}